.order-topcontainer {
  height: 100vh;
  width: 100vw;
}

.order-main {
  height: 100%;
  width: 100%;
  background-color: #F2F2F2;
}

.no-data{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10px;
}

.content {
  padding: 20px;
  transition: margin-left 0.3s;
}

.content.with-sidebar {
  margin-left: 250px; /* Adjust based on your sidebar width */
}

.content.full-width {
  margin-left: 0;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}

.table-header h2 {
  font-size: 24px;
  font-weight: bold;
}

.table-header p {
  font-size: 14px;
  color: #888;
}

.order-table {
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 16px;
  text-align: left;
  font-size: 14px;
}

th {
  background-color: #f9f9f9;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

.order-table-heading{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10px;
}

.status {
  padding: 4px 12px;
  border-radius: 16px;
  color: white;
  font-weight: bold;
}

.status.delivered {
  background-color: #38b000;
}

.status.in-route {
  background-color: #5f80ee;
}

.status.not-delivered {
  background-color: #e63946;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
