html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.admin-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(360deg, rgba(253, 252, 251, 0.824) 0%, #F2F2F2 100%);
}

.admin-main-content {
  display: flex;
  width: 100%;
  margin: 0;
}

.hamburger {
  background: none;
  border: none;
  font-size: 34px;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 999;
  color: #333;
}

.sidebar-heading {
  margin: 0;
  padding: 20px;
  font-size: 24px;
  background: #FFFFFF;
  text-align: center;
  color: #333;
  border-bottom: 1px solid #ccc;
}

.sidebar {
  width: 200px;
  background: #FFFFFF;
  color: #7196AA;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 998;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); */
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar h2 {
  width: 100%;
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar ul li {
  padding: 15px;
  text-align: center;
  width: 100%;
}

.sidebar ul li a {
  color: rgb(107, 114, 128);
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 10px 0;
  transition: background 0.3s, color 0.3s, transform 0.3s;
}

.sidebar ul li a:hover {
  background: #f9efe9;
  color: rgb(137, 136, 136);
  transform: scale(1.05);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.content {
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s ease-in-out;
  margin-left: 0;
}

.content.with-sidebar {
  margin-left: 250px;
}

.section {
  margin: 0 10rem 1rem 10rem;

}

.input-field {
  width: 100%;
  /* padding: 10px; */
  /* text-align: center; */
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: white;
}

#description {
  margin-right: 1rem;
}

.Buttons {
  display: flex;
  align-items: center;
}

.Buttons button {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #5dbea3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Buttons button:hover {
  background-color: #33b249;
}

.submit-button {
  padding: 10px 50px;
  background-color: #33b249;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
}

.submit-button:hover {
  background-color:  #5dbea3;
}

.checkmark {
  display: inline-block;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .content {
    margin-left: 0;
  }

  .hamburger {
    top: 15px;
    left: 15px;
  }
}
