.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 97%;
  padding: 20px;
  border-radius: 10px;
  font-family: "Segoe UI, Arial, Roboto, -apple-system, system-ui, Ubuntu, Helvetica Neue, sans-serif";
  border: 1px solid rgb(173, 171, 171);
}

.admin-header__center {
  flex: 1;
  margin: 0 20px;
}

.admin-header__right {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Adjust the margin */
}

.search-button {
  margin-right: 10px;
}

.host-button {
  margin-right: 10px;
}
.user-admin-btn{
  margin: 0;
  padding: 0;
  height: fit-content;
  width: fit-content;
}

@media (max-width: 768px) {
  .admin-header {
    flex-wrap: wrap;
    padding: 10px;
  }

  .admin-header__center {
    margin: 10px 0;
  }

  .admin-header__right {
    margin-right: 0;
  }
}
