.searchResult {
  display: flex;
  position: relative;
  margin: 20px;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}
.searchResult:hover {
  opacity: 0.8;
}

.searchResult__img {
  height: 200px;
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
}

.searchResult__info {
  padding-left: 20px;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}


.searchResult__infoBottom {
  display: flex;
  justify-content: space-between;
}

.searchResult__info h4 {
  margin-bottom: 5px;
  font-weight: 500;
}

.searchResult__info p {
  margin-bottom: 10px;
  font-size: 14px;
  color: gray;
}

.searchResult__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchResult__price {
  text-align: right;
}

.searchResult__infoTop > h3 {
  font-weight: 300;
  margin-top: 10px;
}

.searchResult__stars {
  color: red; /* Set color for stars */
}

@media screen and (max-width: 768px) {
  .searchResult {
    flex-direction: column;
  }

  .searchResult__img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .searchResult__img {
    height: 150px; /* Adjust height for smaller screens */
    width: 100%; /* Set width to fill the container */
  }
}
